{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
            </div>
        {% else %}
            <h3 class="display-4">Sign in</h3>
            <div class="col-md-4 mb-3">
                <label for="inputUsername">Username</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                       autocomplete="username" required autofocus>
            </div>
            <div class="col-md-4 mb-3">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
            <div class="col-md-4 mb-3">
                <button class="btn btn-primary" type="submit"> Sign in </button>
            </div>
        {% endif %}
    </form>
{% endblock %}
