{{ form_start(registration_form) }}
    <div class="col-md-4 mb-3">
        {{ form_row(registration_form.email) }}
        {{ form_row(registration_form.username) }}
        {{ form_row(registration_form.plainPassword, {label: 'Password' }) }}
    </div>
    <div class="col-md-4 mb-3">
        <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(registration_form) }}
