{{ form_start(registrationForm) }}
    <div class="col-md-4 mb-3">
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {label: 'Password' }) }}
    </div>
    <div class="col-md-4 mb-3">
        <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(registrationForm) }}
