{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    <h3 class="display-4">Registration</h3>

    <div class="w-100 p-3">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {% if label == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% elseif label == 'success' %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-secondary" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    {% for flashError in app.flashes('varify_email_error') %}
        <div class="alert alert-danger" role="alert"> {{ flashError }} </div>
    {% endfor %}

    {{ include('registration/_form.html.twig') }}
{% endblock %}
