{% extends 'base.html.twig' %}

{% block title %}Product Wishlist{% endblock %}

{% block body %}
    <h3 class="display-4">Product Wishlist</h3>

    <div class="w-100 p-3">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {% if label == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% elseif label == 'success' %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-secondary" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    {% if products %}
        {% for product in products %}
            <div class="row col-md-4 mb-3">
                <a class="btn btn-secondary" style="margin-right: 4px;" href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a>
                <form method="post" action="{{ path('wishlist_delete_product', {'id': product.id}) }}">
                    <button class="btn btn-danger">Remove from wishlist</button>
                </form>
            </div>
        {% endfor %}
        <div class="col-md-4 mb-3">
            <form method="post" action="{{ path('wishlist_delete_all_products') }}">
                <button class="btn btn-danger">Remove all</button>
            </form>
        </div>
    {% else %}
        <div class="col-md-4 mb-3">
            <h4>No records found</h4>
        </div>
    {% endif %}

{% endblock %}
