{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{ form_start(form) }}
    <div class="form">
        <div class="col-md-4 mb-3">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="col-md-4 mb-3">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>

        <div class="col-md-4 mb-3">
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}
